node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
logs/
package-lock.json
setup.sh
tg-bio-2@1.0.0
tsc

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
